/* window size variables */
/* whiteframe app size */
.app_whiteframe {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 7px 0;
}
.app_whiteframe:first-of-type {
  margin-top: 0;
}
.app_whiteframe.whiteframe-only {
  padding: 32px;
}
.app_whiteframe.whiteframe-max {
  width: 100%;
  height: 100%;
}
.app_whiteframe > div {
  padding: 16px 16px;
  width: 100%;
}
.app_whiteframe > div.md-whiteframe-header {
  border-bottom: solid 1px #b3b3b2;
}
.app_whiteframe > div.md-whiteframe-header div {
  height: 20px;
  position: relative;
  width: 100%;
}
.app_whiteframe > div.md-whiteframe-header div h2 {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.app_whiteframe > div.md-whiteframe-header div button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin: 0;
  height: 100%;
  width: 90px;
}
.app_whiteframe > div:last-of-type {
  padding-bottom: 32px;
}
.site-nav nav {
  display: block;
}
.site-nav nav .nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.site-nav nav .nav-list .nav-list-item {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin: 0;
  padding: 0;
  border-color: rgba(0, 0, 0, 0.06);
  color: rgba(0, 0, 0, 0.54);
}
.site-nav nav .nav-list .nav-list-item > a {
  box-sizing: border-box;
  display: block;
  line-height: 47px;
  text-decoration: none;
  transition: all .3s;
  padding: 10px 16px;
  position: relative;
  color: rgba(0, 0, 0, 0.54);
  width: 100%;
}
channel-mux-device {
  display: block;
  width: 100%;
}
#view_home {
  display: table;
  width: 100%;
}
#view_home img.logopic {
  width: calc(100% - 200px);
  max-width: 300px;
}
#view_home img.testaufbau {
  width: 100%;
  margin-top: 30px;
}
